%ul.nav.nav-tabs
  -blok['tabs'].each_with_index do |tab,i|
    =tab['_editable'].html_safe if tab['_editable'].present?
    %li.nav-item
      =link_to "##{tab['title'].parameterize(separator: '_')}_content", class: "nav-link #{"active" if i == 0}", data: { toggle: "tab" } do
        =tab['title']

.tab-content
  -blok['tabs'].each_with_index do |tab, i|
    .tab-pane{ class: "#{"active" if i == 0}", id: "#{tab['title'].parameterize(separator: '_')}_content"}
      =tab['_editable'].html_safe  if tab['_editable'].present?
      =render partial: "components/storyblok/blocks/#{tab['component'].downcase.parameterize(separator: "_")}", locals: { tab: tab }
